.style {
    font-family: 'Courier New', Courier, monospace;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ff0000;
    color: white;
    text-align: center;
    padding: 0 0;
    z-index: 1000; /* Ensures the header stays on top */
    margin-left: 0px;

}
.menu{
    position: fixed;
    background-color: #ffd500;
    top: 79px;
    left: 0;
    height: 40px;
    width: 100%;
    text-align: left;
    align-content: center;
}
.button{
    height: 40px;
    

}
a{
    color: black;
    background-color: #ffd500;
    text-decoration: none;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 10px;
    padding-right: 10px;

}
a:hover{
    background-color: #ceab00;

}
.body{
    margin-top: 120px;
    margin-bottom: 20px;
}
@media (max-width: 768px){
    /*Styles for smaller screens*/
    .body {
        margin-top: 81px;
        color: blue;
    }
    
    .menu{
        display: none;
    }


}