html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    border: 1px yellow solid;
}

.content {
    flex: 1;
    margin: 0;
}

.footer {
    background: #2e1157;
    border: 1px solid #2e1157;
    border-top: #62249E 10pt solid;
    color: #ffffff;
    height: 220px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 50px;
}

p {
    padding: 0;
    margin: 0;
    line-height: 1.2;
}

a:link, a:visited {
    color: #ffffff;
    text-decoration: none;
}

.logo-link {
    display: flex;
    align-items: center;
}

.logo-link img {
    margin-right: 3px;
}

.col-left, .col-mid, .col-right {
    float: left;
    padding: 20px;
    height: 198px;
    
}

.col-left {
    text-align: left;
    width: 25%;
    font-size: 20px;
    text-wrap: nowrap;
}
.col-mid {
    width: 50%;
    align-content: center;
    text-align: center;
    text-wrap: nowrap;
    border: skyblue 2px solid;
}

.col-right {
    width: 25%;
    font-size: 20px;
    text-align: right;
    text-wrap: nowrap;
    border: green 2px solid;
}
/* Media Query for Mobile Devices */
@media (max-width: 767px) {
    .footer {
        display: flex;
        flex-direction: column; /* or row depending on your layout needs */
        height: 580px;
    }
    /*----------COLUMN LEFT------------*/
    .col-left {
        order: 2; 
        width: 100%;
    }

    /*----------COLUMN MIDDLE----------*/
    .col-mid {
        order: 1; /* Item 2 will appear first */
        width: 100%;
    }

    /*----------COLUMN RIGHT-----------*/
    .col-right {
        order: 3; 
        width: 100%;
    }
    .col-right img{
        height: 115px;  
        padding: 10px 0 0 8.5%; 
        float: right;
        border: yellow 2px solid;
    }
    .col-right p{
        width: 100%; 
        text-align: right; 
        float: right; 
        padding-right: 27px; 
        border: red 2px solid;
    }
    /*--------------------------------*/
}
